/* Layout cart */
#cart-container table {
   border-collapse: collapse;
   width: 100%;
   table-layout: fixed;
}

#cart-container table thead {
   font-weight: 700;
}

#cart-container table thead td {
   background-color: #2e8aed;
   color: white;
   border: none;
   padding: 4px 0;
}

.title-cart {
   font-weight: 700;
   font-size: 30px;
}

#cart-container table td {
   border: 1px solid #070707;
   text-align: center;
   vertical-align: middle;
}

#cart-container table td:nth-child(1) {
   width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
   width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
   width: 17-px;
}

#cart-container table tbody img {
   width: 80px;
   height: 80px;
   object-fit: cover;
   margin-top: 5px;
}

.lastTableRow td {
   border-color: white !important;
}

.returnToMainPage {
   background-color: yellow;
   margin: 10px;
}