*,
::before,
::after {
   box-sizing: border-box;
}

:root {
   --text-color-dark: #1A162E;
   --text-color-light: #9E9DA8;
   --btn-color: #FFB700;
   --background-color: #F6F6F6;
   --background-header: #EEEEEE;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Gordita', sans-serif;
}

/* ========= Common ========= */
.container {
   width: 1340px;
   max-width: calc(100% - 48px);
   margin: 0 auto;
}

.hidden {
   display: none;
}

a {
   text-decoration: none;
}

/* ========= Header ========= */

.header {
   background-color: var(--background-header);
   position: sticky;
   top: 0px;
}

.header .container {
   display: flex;
   padding: 20px 0;
   align-items: center;
}


.header .nav {
   margin-left: 144px;
}

.header ul {
   display: flex;
   gap: 0 32px;
}

.header ul li {
   padding: 4px 8px;
}

.header .nav ul li {
   position: relative;
}

.header .nav ul li .arrown {
   position: absolute;
   top: 10px;
   right: -7px;
}

.header ul li a {
   text-decoration: none;
   color: var(--text-color-dark);
   font-family: Gordita;
   font-size: 1.5rem;
   font-weight: 500;
   line-height: 1.46;
}

.header .search {
   margin-left: 310px;
   padding: 13px;
   background-color: #fff;
   border-radius: 8px;
}

.header .last-icon {
   display: flex;
   margin-left: auto;
}

.header .buy-card {

   gap: 0 5px;
   display: flex;
   align-items: center;
   padding: 13px;
   background-color: #fff;
   border-radius: 8px;
   margin-left: 20px;
}

.header .icon-user {
   border-radius: 8px;
   padding: 13px;
   background-color: #fff;
   width: 50px;
   height: 50px;
   margin-left: 20px;
}

/* ========= main ========== */
.main {
   background-color: var(--background-color);
   padding-bottom: 60px;
}

.main .container {
   padding-top: 30px;
}

.categories {
   width: 250px;
   height: 300px;
   background-color: var(--background-color);
   position: sticky;
   top: 140px;
}

.img-huge {
   height: 374px;
   width: 100%;
   border-radius: 20px;
}

.categories .title {
   color: var(--text-color-dark);
   font-family: Gordita;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 1.41;
   margin-bottom: 20px;
}

.categories .product {
   padding-left: 20px;
   width: 100%;
   height: 70px;
   background-color: var(--background-header);
   border-radius: 10px;
   margin-bottom: 16px;
   box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
   color: var(--text-color-dark);
   font-size: 1.6rem;
   font-weight: 700;
   line-height: 1.5;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.main .product .img-product {
   height: 60px;
   width: 70px;
   object-fit: cover;
}

.row {
   display: flex;
   gap: 30px;
}

.recommend {
   margin-top: 40px;
}

.recommend .row {
   margin-top: 20px;
}

.recommend-product {
   display: flex;
   align-items: center;
   background-color: var(--background-header);
   border-radius: 16px;
   padding: 20px;
}

.recommed-product-right .price {
   color: var(--text-color-dark);
   font-size: 2.2rem;
   font-weight: 700;
   line-height: 1.45
}

.recommed-product-right .desc {
   /* color: var(--text-color-light); */
   color: #1A162E;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
}

.recommed-product-right {
   display: flex;
   flex-direction: column;
   gap: 6px;
}

.recommend-product .img-product {
   width: 116px;
   height: 116px;
}

.hello-filter {
   margin: 30px 0;
   justify-content: space-between;
}

.hello-filter .hello,
.recommend .title {
   color: var(--text-color-dark);
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 1.41;
}

.hello-filter .filter {
   background-color: #fff;
   padding: 12px;
   display: flex;
   border-radius: 6px;
   gap: 14px;
}

.hello-filter span {
   color: var(--text-color-dark);
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1.5;
}

.list-show-product {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 30px;
}

.list-show-product .cart {
   padding: 16px;
   background-color: #fff;
   border-radius: 20px;
}

.list-show-product .cart .title {
   color: var(--text-color-dark);
   font-size: 1.6rem;
   font-weight: 500;
   line-height: 1.5;
   margin-bottom: 16px;
}

.list-show-product .brand {
   color: var(--text-color-light);
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: 1.46;
}

.list-show-product .row {
   justify-content: space-between;
   margin-top: 16px;
   align-items: center;
}

.row-price-star {
   display: flex;
   align-items: center;
   gap: 6px;
}

/* ========= Create account ============ */
.create-acc {
   background-color: #cceae9;
   margin-top: 50px;
   border-radius: 16px;
}

.create-acc .container {
   padding: 50px 0;
   display: flex;
   gap: 410px;
   align-items: center;
}

.create-acc .title {
   color: #070707;
   font-size: 4.2rem;
   font-weight: 700;
}

.create-acc .desc {
   margin-top: 18px;
   font-size: 1.8rem;
   color: var(--text-color-light);
}

.create-acc .btn {
   padding: 22px 50px;
   color: #FFF;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 600;
   border-radius: 14px;
   background: #1EBFC1;
   border: none;
   box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.create-acc .btn:hover {
   opacity: 0.8;
}

/* ======== Footer ========= */
.footer {
   background-color: var(--background-color);
}

.footer .row {
   display: flex;
   gap: 130px;
   padding-top: 60px;
}

.footer .column .desc {
   margin-top: 18px;
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   width: 267px;
   color: var(--text-color-light);
}

.footer .column .list-icon {
   display: flex;
   margin-top: 18px;
   gap: 18px;
}
.footer .column .list-icon .icon {
   padding: 3px;
   width: 25px;
   height: 25px;
   cursor: pointer;
}
.footer .column .title {
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: var(--text-color-dark)
}

.footer .column .separate {
   margin-top: 14px;
   width: 130px;
   height: 1px;
   background-color: var(--text-color-light);
}

.footer .list-info {
   margin-top: 22px;
}

.footer .column a {
   padding: 6px 0;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   /* color: var(--text-color-dark); */
   color: #807D74;
}

.list-info strong {
   color: var(--text-color-dark);

   font-weight: 600;
}

.separate-last {
   margin:  0 auto;
   margin-top: 38px;
   width: 1170px;
   height: 1px;
   background: #59554B;
}

.desc-last {
   margin-top: 28px;
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   text-align: center;
   color: #807D74;
}
.footer .desc-last {
   padding-bottom: 25px;
}

.row-price-star input {
   font-size: 15px;
}

.add-to-cart-button{
   padding: 10px 10px; 
   background-color: #38679a; 
   color: #fff;
   border: none;
   border-radius: 4px;
   font-size: 10px;
   cursor: pointer;
   transition: background-color 0.3s ease;/* Hiệu ứng màu nền thay đổi khi hover */
}
.add-to-cart-button:hover{
   background-color: #007afc;
   transform: scale(1.05); /* cai nay la dua tro chuot va phong to thu nho */
} 

 /* moi biet */
.checkout-button {
   padding: 10px 10px; 
   background-color: #007bff; 
   color: #fff;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.checkout-button:hover {
   background-color: #0056b3;/* Màu nền thay đổi khi hover */
}

.cart-list {
    display: none;
}

.show-cart .cart-list {
    display: block;
}
